{% extends 'layout.html.twig' %}
{% block content %}
    <div id="page-content-div">
        <h4>{{ storage_text }}</h4>
        Switches: {{ switches }} </br>
        Fan: {{ fan }}</br>
        Heater temperature: {{ heater }}</br>
        Keypad: {{ keypad }}
    </div>
{% endblock %}
