{% extends 'layout.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div id="page-content-div">
        <p>EE M2M Connect Message Sender/Receiver</p>
        <form action="{{ sendmessage }}" method="post">
            <fieldset>
                <legend>Configure a virtual circuit board & send information on its state to the EE server.</legend>
                <br>

                <label for="switches">Switches (on/off):</label>
                <input id="switch1" name ="switch1" type="checkbox" value="on">
                <input id="switch2" name ="switch2" type="checkbox" value="on">
                <input id="switch3" name ="switch3" type="checkbox" value="on">
                <input id="switch4" name ="switch4" type="checkbox" value="on">
                <br><br>


                <label for="fan">Fan state:</label><br>
                <input id="fan" name="fan" type="radio" value="fwd" checked> Forward <br>
                <input id="fan" name="fan" type="radio" value="rev"> Reverse
                <br><br>

                <label for="heater">Heater temperature (*C):</label>
                <input id="heater" name="heater" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>

                <label for="keypad">Keypad value:</label>
                <input id="keypad" name="keypad" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                <br><br>

                <input type="submit" value="Send message >>>"><br>
                <p>{{ sentmessage }}</p>
            </fieldset>
        </form>

        <form action="{{ peekmessages }}" method="post">
            <fieldset>
                <legend>Peek the messages</legend>
                <input type="submit" value="Peek >>>">
            </fieldset>
        </form>
    </div>
{% endblock %}
