{% extends 'banner.html.twig' %}
{% block title %}{{ page_title }}{% endblock %}
{% block content %}
    <div id="page-content-div">
        <h2>Login</h2>
        <p></p>
        <form action="{{ login_submit }}" method="post">
            <fieldset>
                <legend>Login</legend>
                <br>
                <div id="login-form-div">
                    <label for="username">Username:</label>
                    <input id="username" name="username" type="text" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                    <br><br>

                    <label for="password">Password:</label>
                    <input id="password" name="password" type="password" value="{{ initial_input_box_value }}" size="30" maxlength="50">
                    <br>
                    <p>{{ login_message }}</p>
                </div>

                <input type="submit" value="Login"><br>
            </fieldset>

        </form>
    </div>
{% endblock %}
